.title {
  font-size: 45px;
  margin-top: 13%;
}
header {
  text-align: center;
}
.subtitle {
  margin-bottom: 2%;
  font-size: 18px;
  color: #a0a0a0;
}

.App {
  font-family: 'Roboto', sans-serif;
  background-color: '#E8E8E8';
}

body {
  background-color: #f0f0f0;
}

.form {
  text-align: center;
}

.query-field {
  text-align: center;
  width: 50%;
  margin-bottom: 2%;
}

#search-btn {
  font-size: 16px;
  width: 10%;
  border: 1px solid gray;
  background-color: #d1cecec0;
  border-radius: 0 30px 30px 0;
  height: 2.45em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

#sort {
  display: inline;
  margin-left: 20%;
  font-size: 16px;
  height: 2.2em;
  border-radius: 5px;
  color: black;
}

.card-wrapper {
  padding: 1%;
  margin-left: 13%;
  margin-right: 13%;
  border: 1px solid black;
  border-bottom-style: none;
  background-color: white;
}

.card-info {
  display: flex;
  min-width: 400px;
}

.book-title {
  text-decoration: underline;
}

.loading {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin-top: 100px;
  align-items: top;
  justify-content: center;
}

.description {
  margin-bottom: 5%;
}

.image-wrapper {
  justify-content: center;
  align-items: center;
}

.book-title {
  color: black;
}

.authors {
  margin-top: 10px;
  color: rgb(76, 169, 201);
  font-style: italic;
}

.card-details {
  display: flex;
  align-items: right;
  justify-content: flex-end;
  position: absolute;
  bottom: 5%;
  right: 0;
}

.card-details > * {
  display: inline;
  margin-right: 40px;
}

.book-info {
  display: flex;
  flex-direction: column;
  margin-left: 1%;
  position: relative;
}

#filter {
  display: inline;
  margin-left: 1%;
  font-size: 16px;
  height: 2.2em;
  border-radius: 5px;
  color: black;
}

.filters {
  text-align: left;
}

#search-bar {
  background: white;
  margin-bottom: 1%;
  outline: none;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid gray;
  border-right-style: none;
  width: 50%;
  border-radius: 30px 0 0 30px;
  height: 2.2em;
}
